<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <title>数据录入</title>

        {% load static %}
        <!-- 引入bootstrap的css文件 -->
        <link rel="stylesheet" href="{% static 'js/lib/bootstrap/css/bootstrap.min.css' %}" />

        <!-- 引入vuejs -->

        <script type="text/javascript" src="{% static 'js/vue-2.7.0.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/axios-0.27.0.min.js' %}"></script>

        <!-- Custom styles for this template -->
        <link href="{% static '/css/app.min.css' %}" rel="stylesheet" />

        <style>
            html,
            body {
                height: 100%;
            }

            body {
                display: flex;
                align-items: center;
                padding-top: 40px;
                padding-bottom: 40px;
                background-color: #f5f5f5;
            }

            .form-signin {
                width: 100%;
                max-width: 600px;
                padding: 15px;
                margin: auto;
            }
            .img-view {
                max-height: 200px;
            }
        </style>

        <!-- Custom styles for this template -->
    </head>
    <body>
        <main class="form-signin" id="app">
            <form @submit.prevent>
                <div class="text-center">
                    <h3 class="mb-3 fw-normal">污水排入许可申请(个人)</h3>
                    <a class="" href="/db_server/data_input_com">切换企业申请 >></a>
                </div>
                <div class="form-group">
                    <label for="applyer">1.排水户名称</label>
                    <input type="text" class="form-control" v-model="form_data.applyer" id="applyer" />
                </div>
                <div class="form-group">
                    <label for="project">2.排水项目名称</label>
                    <input type="text" class="form-control" v-model="form_data.project" id="project" />
                </div>
                <div class="form-group">
                    <label for="date">3.填表日期</label>
                    <input type="text" class="form-control" v-model="form_data.date" id="date" />
                </div>
                <div class="form-group">
                    <label for="post_legal_representative">4.邮编/法定代表人</label>
                    <input type="text" class="form-control" v-model="form_data.post_legal_representative" id="post_legal_representative" />
                </div>
                <div class="form-group">
                    <label for="cell_phone">5.法定代表人手机</label>
                    <input type="text" class="form-control" v-model="form_data.cell_phone" id="cell_phone" />
                </div>
                <div class="form-group">
                    <label for="project_addr">6.排水（建设）项目行政区和地址</label>
                    <input type="text" class="form-control" v-model="form_data.project_addr" id="project_addr" />
                </div>
                <div class="form-group">
                    <label for="zongshui">7.总水</label>
                    <input type="number" class="form-control" v-model="form_data.zongshui" id="zongshui" />
                </div>
                <div class="form-group">
                    <label for="tap_water">8.自来</label>
                    <input type="number" class="form-control" v-model="form_data.tap_water" id="tap_water" />
                </div>
                <div class="form-group">
                    <label for="self_owned">9.自备</label>
                    <input type="number" class="form-control" v-model="form_data.self_owned" id="self_owned" />
                </div>
                <div class="form-group">
                    <label for="total_water">10.总排</label>
                    <input type="number" class="form-control" v-model="form_data.total_water" id="total_water" />
                </div>
                <div class="form-group">
                    <label for="total_catering">11.含餐饮</label>
                    <input type="number" class="form-control" v-model="form_data.total_catering" id="total_catering" />
                </div>
                <div class="form-group">
                    <label for="domastic_wastewater">12.其中生活污水量</label>
                    <input type="number" class="form-control" v-model="form_data.domastic_wastewater" id="domastic_wastewater" />
                </div>
                <div class="form-group">
                    <label>13.处理方式：</label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="customRadioInline" class="custom-control-input" value="self" v-model="form_data.process_method" />
                        <label class="custom-control-label" for="customRadioInline1">自行处理</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="customRadioInline" class="custom-control-input" value="delegation"  v-model="form_data.process_method" />
                        <label class="custom-control-label" for="customRadioInline2">委托处理</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>14.处理量：</label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline3" name="customRadioInline2" class="custom-control-input" value="part" v-model="form_data.process_ammount" />
                        <label class="custom-control-label" for="customRadioInline3">部分</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline4" name="customRadioInline2" class="custom-control-input" value="all" v-model="form_data.process_ammount" />
                        <label class="custom-control-label" for="customRadioInline4">全部</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="process_technology">15.处理工艺</label>
                    <input type="text" class="form-control" v-model="form_data.process_technology" id="process_technology" />
                </div>
                <div class="form-group">
                    <label for="site_area">16.用地面积 (m²)</label>
                    <input type="number" class="form-control" v-model="form_data.site_area" id="site_area" />
                </div>
                <div class="form-group">
                    <label for="overall_floorage">17.总建筑面积 (m²)</label>
                    <input type="number" class="form-control" v-model="form_data.overall_floorage" id="overall_floorage" />
                </div>

                <div class="form-group">
                    <label for="residence_area">18.住宅 (m²)</label>
                    <input type="number" class="form-control" @change="areachange()" v-model="form_data.residence_area" id="residence_area" />
                </div>
                <div class="form-group">
                    <label for="factory_area">19.厂房 (m²)</label>
                    <input type="number" class="form-control" @change="areachange()" v-model="form_data.factory_area" id="factory_area" />
                </div>
                <div class="form-group">
                    <label for="office_building_area">20.办公楼 (m²)</label>
                    <input type="number" class="form-control" @change="areachange()" v-model="form_data.office_building_area" id="office_building_area" />
                </div>
                <div class="form-group">
                    <label for="catering_area">21.餐饮 (m²)</label>
                    <input type="number" class="form-control" @change="areachange()" v-model="form_data.catering_area" id="catering_area" />
                </div>
                <div class="form-group">
                    <label for="main_product">22.主要产品或服务</label>
                    <input type="text" class="form-control" v-model="form_data.main_product" id="main_product" />
                </div>
                <div class="form-group">
                    <label for="raw_material">23.主要原料</label>
                    <input type="text" class="form-control" v-model="form_data.raw_material" id="raw_material" />
                </div>
                <div class="form-group">
                    <label for="construction_period">24.建设工期</label>
                    <input type="text" class="form-control" v-model="form_data.construction_period" id="construction_period" />
                </div>
                <div class="form-group">
                    <label for="completion_date">25.竣工日期</label>
                    <input type="text" class="form-control" v-model="form_data.completion_date" id="completion_date" />
                </div>
                <div class="form-group">
                    <label>26.序号1</label>
                    <select class="form-control" placeholder="种类" v-model="form_data.type_1">
                        <option></option>
                        <option>污水管</option>
                        <option>雨水管</option>
                        <option>合流管</option>
                      </select>
                    <input type="number" class="form-control" placeholder="管径 (mm)" v-model="form_data.pipe_diameter_1" />
                    <input type="number" class="form-control" placeholder="排水量 (m³/日)" v-model="form_data.quantity_of_flow_1" />
                    <input type="text" class="form-control" placeholder="路名、河道名" v-model="form_data.river_way_1" />
                    <select class="form-control" placeholder="有无" v-model="form_data.have_or_not_1" >
                        <option></option>
                        <option>有</option>
                        <option>无</option>
                      </select>
                </div>

                <div class="form-group">
                    <label>27.序号2</label>
                    <input type="text" class="form-control" placeholder="种类2" v-model="form_data.type_2" />
                    <input type="number" class="form-control" placeholder="管径2" v-model="form_data.pipe_diameter_2" />
                    <input type="number" class="form-control" placeholder="排水量2" v-model="form_data.quantity_of_flow_2" />
                    <input type="text" class="form-control" placeholder="路名、河道名2" v-model="form_data.river_way_2" />
                    <input type="text" class="form-control" placeholder="有无2" v-model="form_data.have_or_not_2" />
                </div>

                <div class="form-group">
                    <label for="username">28.序号3</label>
                    <input type="text" class="form-control" placeholder="种类3" v-model="form_data.type_3" />
                    <input type="number" class="form-control" placeholder="管径3" v-model="form_data.pipe_diameter_3" />
                    <input type="number" class="form-control" placeholder="排水量3" v-model="form_data.quantity_of_flow_3" />
                    <input type="text" class="form-control" placeholder="路名、河道名3" v-model="form_data.river_way_3" />
                    <input type="text" class="form-control" placeholder="有无3" v-model="form_data.have_or_not_3" />
                </div>

                <div class="form-group">
                    <label for="username">29.序号4</label>
                    <input type="text" class="form-control" placeholder="种类4" v-model="form_data.type_4" />
                    <input type="number" class="form-control" placeholder="管径4" v-model="form_data.pipe_diameter_4" />
                    <input type="number" class="form-control" placeholder="排水量4" v-model="form_data.quantity_of_flow_4" />
                    <input type="text" class="form-control" placeholder="路名、河道名4" v-model="form_data.river_way_4" />
                    <input type="text" class="form-control" placeholder="有无4" v-model="form_data.have_or_not_4" />
                </div>

                <div class="form-group">
                    <label for="username">30.序号5</label>
                    <input type="text" class="form-control" placeholder="种类5" v-model="form_data.type_5" />
                    <input type="number" class="form-control" placeholder="管径5" v-model="form_data.pipe_diameter_5" />
                    <input type="number" class="form-control" placeholder="排水量5" v-model="form_data.quantity_of_flow_5" />
                    <input type="text" class="form-control" placeholder="路名、河道名5" v-model="form_data.river_way_5" />
                    <input type="text" class="form-control" placeholder="有无5" v-model="form_data.have_or_not_5" />
                </div>

                <div class="form-group">
                    <label for="username">31.序号6</label>
                    <input type="text" class="form-control" placeholder="种类6" v-model="form_data.type_6" />
                    <input type="number" class="form-control" placeholder="管径6" v-model="form_data.pipe_diameter_6" />
                    <input type="number" class="form-control" placeholder="排水量6" v-model="form_data.quantity_of_flow_6" />
                    <input type="text" class="form-control" placeholder="路名、河道名6" v-model="form_data.river_way_6" />
                    <input type="text" class="form-control" placeholder="有无6" v-model="form_data.have_or_not_6" />
                </div>

                <div class="form-group">
                    <label for="username">32.序号7</label>
                    <input type="text" class="form-control" placeholder="种类7" v-model="form_data.type_7" />
                    <input type="number" class="form-control" placeholder="管径7" v-model="form_data.pipe_diameter_7" />
                    <input type="number" class="form-control" placeholder="排水量7" v-model="form_data.quantity_of_flow_7" />
                    <input type="text" class="form-control" placeholder="路名、河道名7" v-model="form_data.river_way_7" />
                    <input type="text" class="form-control" placeholder="有无7" v-model="form_data.have_or_not_7" />
                </div>

                <div class="form-group">
                    <label for="username">33.序号8</label>
                    <input type="text" class="form-control" placeholder="种类8" v-model="form_data.type_8" />
                    <input type="number" class="form-control" placeholder="管径8" v-model="form_data.pipe_diameter_8" />
                    <input type="number" class="form-control" placeholder="排水量8" v-model="form_data.quantity_of_flow_8" />
                    <input type="text" class="form-control" placeholder="路名、河道名8" v-model="form_data.river_way_8" />
                    <input type="text" class="form-control" placeholder="有无8" v-model="form_data.have_or_not_8" />
                </div>

                <div class="form-group">
                    <label for="levels">34.建筑层数（报告）</label>
                    <input type="text" class="form-control" id="levels" v-model="form_data.levels" />
                </div>

                <div class="form-group">
                    <label>35.勾选排水设施</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="drainage1" id="defaultCheck1" v-model="form_data.drainage" />
                    <label class="form-check-label" for="defaultCheck1"> 1.有餐饮的排水户已建设规范的隔油池。 </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="drainage2" id="defaultCheck2" v-model="form_data.drainage" />
                    <label class="form-check-label" for="defaultCheck2"> 2.有厕所的排水户已建设规范的化粪池。 </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="drainage3" id="defaultCheck3" v-model="form_data.drainage" />
                    <label class="form-check-label" for="defaultCheck3"> 3.有洗车服务的排水户已建设规范的隔油沉淀池。 </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="drainage4" id="defaultCheck4" v-model="form_data.drainage" />
                    <label class="form-check-label" for="defaultCheck4"> 4.已按规定建设____________的预处理设施。 </label>
                </div>
                <br />
                <div class="form-group">
                    <label>36.现场照片</label>
                </div>

                <div v-for="(item, index) in form_data.pics">
                    <br />
                    <img class="img-view" :src="item.pic" />
                    <div class="input-group">
                        <input type="file" class="" @change="((val)=>{upload(val, index)})" required />
                    </div>
                    <div class="input-group">
                        <input type="text" v-model="item.description" class="form-control" placeholder="图片说明" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-danger" type="button" @click="rmpic(index)">删除</button>
                        </div>
                    </div>
                </div>
                <br />
                <div class="input-group">
                    <button class="btn btn-outline-success" type="button" @click="addpic()">新增</button>
                </div>

                <br />
                <button type="button" @click="submitPost" class="btn btn-primary float-right">提交</button>
            </form>
        </main>

        <script>
            new Vue({
                delimiters: ["{[", "]}"],
                el: "#app",
                data() {
                    let self = this
                    return{
                    form_data: {
                        pics: [],
                        applyer: "",
                        project: "",
                        date: self.getDate(),
                        post_legal_representative: "",
                        cell_phone: "",
                        project_addr: "",
                        zongshui: "",
                        tap_water: "",
                        self_owned: "",
                        total_water: "",
                        total_catering: "",
                        domastic_wastewater: "",
                        process_method: "",
                        process_ammount: "",
                        process_technology: "",
                        site_area: "",
                        overall_floorage: "0",
                        residence_area: "",
                        factory_area: "",
                        office_building_area: "",
                        catering_area: "",
                        main_product: "",
                        raw_material: "",
                        construction_period: "",
                        completion_date: "",

                        type_1: "",
                        pipe_diameter_1: "",
                        quantity_of_flow_1: "",
                        river_way_1: "",
                        have_or_not_1: "",

                        type_2: "",
                        pipe_diameter_2: "",
                        quantity_of_flow_2: "",
                        river_way_2: "",
                        have_or_not_2: "",

                        type_3: "",
                        pipe_diameter_3: "",
                        quantity_of_flow_3: "",
                        river_way_3: "",
                        have_or_not_3: "",

                        type_4: "",
                        pipe_diameter_4: "",
                        quantity_of_flow_4: "",
                        river_way_4: "",
                        have_or_not_4: "",

                        type_5: "",
                        pipe_diameter_5: "",
                        quantity_of_flow_5: "",
                        river_way_5: "",
                        have_or_not_5: "",

                        type_6: "",
                        pipe_diameter_6: "",
                        quantity_of_flow_6: "",
                        river_way_6: "",
                        have_or_not_6: "",

                        type_7: "",
                        pipe_diameter_7: "",
                        quantity_of_flow_7: "",
                        river_way_7: "",
                        have_or_not_7: "",

                        type_8: "",
                        pipe_diameter_8: "",
                        quantity_of_flow_8: "",
                        river_way_8: "",
                        have_or_not_8: "",

                        levels: "",
                        drainage: [],
                    },
                    }
                },
                methods: {
                    // 添加图片及说明
                    addpic: function (message) {
                        var pic_data = {
                            pic: "",
                            description: "",
                            raw_pic:""
                        };
                        this.form_data.pics.push(pic_data);
                    },
                    // 删除图片及说明
                    rmpic: function (index) {
                        console.log(index);
                        this.form_data.pics.splice(Number(index), 1);
                    },
                    // 选择图片
                    upload(e, index) {
                        console.log(index);
                        // e.target指向事件执行时鼠标所点击区域的那个元素
                        // console.log(e.target.files)
                        //------------------------------------------------------
                        for (let item of e.target.files) {
                            if (!/image\/\w+/.test(item.type)) {
                                alert("只能选择图片");
                                return;
                            }
                            this.form_data.pics[Number(index)].raw_pic = item;
                            var _this = this;
                            let reader = new FileReader();
                            // readAsDataURL方法可以将上传的图片格式转为base64,然后在存入到图片路径,这样就可以上传任意位置的图片
                            reader.readAsDataURL(item);
                            reader.addEventListener("load", function () {
                               // console.log(item.lastModified)
                               let img = new Image();
                               img.src = this.result;
                               console.log(item);
                               let testfile = _this.imgCompress(item, img);
                               console.log(testfile);
                               this.form_data.pics[Number(index)].raw_pic = testfile;




                                _this.form_data.pics[Number(index)].pic = this.result;
                            });
                        }
                    },
                    // 点击提交
                    submitPost() {
                        let formData = new FormData();
                        formData.append('applyer', this.form_data.applyer);
                        formData.append('project', this.form_data.project);
                        formData.append('date', this.form_data.date);
                        formData.append('post_legal_representative', this.form_data.post_legal_representative);
                        formData.append('cell_phone', this.form_data.cell_phone);
                        formData.append('project_addr', this.form_data.project_addr);
                        formData.append('zongshui', this.form_data.zongshui);
                        formData.append('tap_water', this.form_data.tap_water);
                        formData.append('self_owned', this.form_data.self_owned);
                        formData.append('total_water', this.form_data.total_water);
                        formData.append('total_catering', this.form_data.total_catering);
                        formData.append('domastic_wastewater', this.form_data.domastic_wastewater);
                        formData.append('process_method', this.form_data.process_method);
                        formData.append('process_ammount', this.form_data.process_ammount);
                        formData.append('process_technology', this.form_data.process_technology);
                        formData.append('site_area', this.form_data.site_area);
                        formData.append('overall_floorage', this.form_data.overall_floorage);
                        formData.append('residence_area', this.form_data.residence_area);
                        formData.append('factory_area', this.form_data.factory_area);
                        formData.append('office_building_area', this.form_data.office_building_area);
                        formData.append('catering_area', this.form_data.catering_area);
                        formData.append('raw_material', this.form_data.raw_material);
                        formData.append('construction_period', this.form_data.construction_period);
                        formData.append('completion_date', this.form_data.completion_date);

                        formData.append('type_1', this.form_data.type_1);
                        formData.append('pipe_diameter_1', this.form_data.pipe_diameter_1);
                        formData.append('quantity_of_flow_1', this.form_data.quantity_of_flow_1);
                        formData.append('river_way_1', this.form_data.river_way_1);
                        formData.append('have_or_not_1', this.form_data.have_or_not_1);

                        formData.append('type_2', this.form_data.type_2);
                        formData.append('pipe_diameter_2', this.form_data.pipe_diameter_2);
                        formData.append('quantity_of_flow_2', this.form_data.quantity_of_flow_2);
                        formData.append('river_way_2', this.form_data.river_way_2);
                        formData.append('have_or_not_2', this.form_data.have_or_not_2);

                        formData.append('type_3', this.form_data.type_3);
                        formData.append('pipe_diameter_3', this.form_data.pipe_diameter_3);
                        formData.append('quantity_of_flow_3', this.form_data.quantity_of_flow_3);
                        formData.append('river_way_3', this.form_data.river_way_3);
                        formData.append('have_or_not_3', this.form_data.have_or_not_3);

                        formData.append('type_4', this.form_data.type_4);
                        formData.append('pipe_diameter_4', this.form_data.pipe_diameter_4);
                        formData.append('quantity_of_flow_4', this.form_data.quantity_of_flow_4);
                        formData.append('river_way_4', this.form_data.river_way_4);
                        formData.append('have_or_not_4', this.form_data.have_or_not_4);

                        formData.append('type_5', this.form_data.type_5);
                        formData.append('pipe_diameter_5', this.form_data.pipe_diameter_5);
                        formData.append('quantity_of_flow_5', this.form_data.quantity_of_flow_5);
                        formData.append('river_way_5', this.form_data.river_way_5);
                        formData.append('have_or_not_5', this.form_data.have_or_not_5);

                        formData.append('type_6', this.form_data.type_6);
                        formData.append('pipe_diameter_6', this.form_data.pipe_diameter_6);
                        formData.append('quantity_of_flow_6', this.form_data.quantity_of_flow_6);
                        formData.append('river_way_6', this.form_data.river_way_6);
                        formData.append('have_or_not_6', this.form_data.have_or_not_6);

                        formData.append('type_7', this.form_data.type_7);
                        formData.append('pipe_diameter_7', this.form_data.pipe_diameter_7);
                        formData.append('quantity_of_flow_7', this.form_data.quantity_of_flow_7);
                        formData.append('river_way_7', this.form_data.river_way_7);
                        formData.append('have_or_not_7', this.form_data.have_or_not_7);

                        formData.append('type_8', this.form_data.type_8);
                        formData.append('pipe_diameter_8', this.form_data.pipe_diameter_8);
                        formData.append('quantity_of_flow_8', this.form_data.quantity_of_flow_8);
                        formData.append('river_way_8', this.form_data.river_way_8);
                        formData.append('have_or_not_8', this.form_data.have_or_not_8);



                        formData.append('levels', this.form_data.levels);
                        formData.append('drainage', this.form_data.drainage);
                        

                        for (let i of this.form_data.drainage) {

                            formData.append('drainage', i);
                        }

                        for (let i of this.form_data.pics) {
                            
                            formData.append('file', i.raw_pic);
                            formData.append('pics_description', i.description);
                        }
                       
                        axios.post('/db_server/get_test_data', formData)
                          .then(function (response) {
                            console.log(response);
                            location.href = response.data.url;
                          })
                          .catch(function (error) {
                            console.log(error);
                          });

                    },
                    // 压缩图片
                    imgCompress (file, img) {

                        const canvas = document.createElement('canvas');
                        const context = canvas.getContext('2d');
                        // 获取文件宽高比例
                        const { width: originWidth, height: originHeight } = img;
                        // 自定义等比例缩放宽高属性，这里我用的是固定800宽度，高度是等比例缩放
                        const scale = +(originWidth / originHeight).toFixed(2); // 比例取小数点后两位)
                        const targetWidth = 800; // 固定宽
                        const targetHeight = Math.round(targetWidth / scale); // 等比例缩放高
                    
                        canvas.width = targetWidth;
                        canvas.height = targetHeight;
                        context.clearRect(0, 0, targetWidth, targetHeight);
                        // canvas重新绘制图片
                        context.drawImage(img, 0, 0, targetWidth, targetHeight);
                        // canvas转二进制对象转文件对象，返回
                        const type = 'image/jpeg';
                        const quality = 0.7;
                        canvas.toBlob(function (blob) {
                        return new File([blob], file.name, {
                            type,
                            lastModified: file.lastModified
                        });
    
                        }, type, quality);

                        //


                    },

                    // file转换成img对象
                    fileToImg (file) {
                        return new Promise((resolve, reject) => {
                        const img = new Image()
                        const reader = new FileReader()
                        reader.onload = function (e) {
                            img.src = e.target.result
                        }
                        reader.onerror = function (e) {
                            reject(e)
                        }
                        reader.readAsDataURL(file)
                        img.onload = function () {
                            resolve(img)
                        }
                        img.onerror = function (e) {
                            reject(e)
                        }
                        })
                    },

                    getDate () {
                        var dt = new Date();
                        let year = dt.getFullYear();
                        let month = dt.getMonth() + 1;
                        let date = dt.getDate();
                        return `${year}-${month}-${date}`;
                    },
                    // 面积修改
                    areachange () {
                        let a = Number(this.form_data.residence_area);
                        a = isNaN(a) ? 0 : a;

                        let b = Number(this.form_data.factory_area);
                        b = isNaN(b) ? 0 : b;

                        let c = Number(this.form_data.office_building_area);
                        c = isNaN(c) ? 0 : c;

                        let d = Number(this.form_data.catering_area);
                        d = isNaN(d) ? 0 : d;
                        this.form_data.overall_floorage = a + b + c + d;
                    },

                }, //methods end

            });
        </script>

    </body>
</html>
